<html>
<head>
	<title>Source Control Churn Results</title>
	<style>
	<%= inline_css("default.css") %>
	</style>
</head>

<body>
	<h1>Source Control Churn Results</h1>
  <a href="index.html">back to menu</a>
	<p>Files that change a lot in your project may be bad a sign.
	  This task uses your source control log to identify those files.
	  </p>
	<table>
    <tr>
      <th>File Path</th>
      <th>Times Changed</th>
    </tr>
    <% count = 0 %>
    <% @churn[:changes].each do |change| %>
      <tr>
        <td><%= change[:file_path] %></td>
        <td><%= change[:times_changed] %></td>
      </tr>
      <% count += 1 %>
		<% end %>
	</table>
	<p>Generated on <%= Time.now.localtime %></p>
</body>
</html>
