# Order is important. The last matching pattern has the most precedence.

*                          @chef/client-maintainers
.expeditor/**              @chef/jex-team
README.md                  @chef/docs-team
RELEASE_NOTES.md           @chef/docs-team
.github/ISSUE_TEMPLATE/**  @chef/docs-team
