# Order is important. The last matching pattern has the most precedence.

*            @chef/chef-infra-reviewers @chef/chef-infra-approvers @chef/chef-infra-owners @jaymzh  
.expeditor/  @chef/build-engineering-systems-team
*.md         @chef/docs-team
