# Order is important. The last matching pattern has the most precedence.

*            @chef/chef-infra-reviewers @chef/chef-infra-approvers @chef/chef-infra-owners
.expeditor/  @chef/jex-team
*.md         @chef/docs-team
