coverage
doc
.DS_Store
packages/chef-server/db
examples/search_index
examples/store
examples/openid-cstore
examples/openid-db
chef/pkg
chef-server/pkg
chef/log
chef-server/log
features/data/tmp/**
*.swp
