.autotest
coverage
doc
.DS_Store
packages/chef-server/db
examples/search_index
examples/store
examples/openid-cstore
examples/openid-db
chef/pkg
chef-server/pkg
chef-server-webui/pkg
chef-server-api/pkg
chef/log
chef-server/log
chef-solr/chef-solr.gemspec
log
couchdb.stderr
couchdb.stdout
features/data/tmp/**
*.swp
features/data/cookbooks/**/metadata.json
features/data/solr/**
erl_crash.dump
*.rake_tasks~
.idea