# Daniel DeLeo
Daniel DeLeo <dan@chef.io> Daniel DeLeo <dan@opscode.com>
Daniel DeLeo <dan@chef.io> danielsdeleo <dan@chef.io>
Daniel DeLeo <dan@chef.io> Dan DeLeo <danielsdeleo@mac.com>
Daniel DeLeo <dan@chef.io> Dan DeLeo <dan@kallistec.com>
Daniel DeLeo <dan@chef.io> danielsdeleo <dan@getchef.com>
Daniel DeLeo <dan@chef.io> danielsdeleo <dan@opscode.com>
Daniel DeLeo <dan@chef.io> Daniel DeLeo <danielsdeleo@mac.com>

# Adam Jacob
Adam Jacob <adam@chef.io> Adam Jacob <adam@opscode.com>
Adam Jacob <adam@chef.io> Adam Jacob <adam@hjksolutions.com>
Adam Jacob <adam@chef.io> Adam Jacob <adam@latte.(none)>
Adam Jacob <adam@chef.io> Adam Jacob <adam@ubuntu-apache1.(none)>

# Bryan McLellan
Bryan McLellan <btm@chef.io> Bryan McLellan <btm@getchef.com>
Bryan McLellan <btm@chef.io> Bryan McLellan <bryan.mclellan@webtrends.com>
Bryan McLellan <btm@chef.io> Bryan McLellan <btm@opscode.com>
Bryan McLellan <btm@chef.io> Bryan McLellan <btm@loftninjas.org>
Bryan McLellan <btm@chef.io> Bryan McLellan <bryanm@widemile.com>

# Lamont Granquist
Lamont Granquist <lamont@chef.io> Lamont Granquist <lamont@getchef.com>
Lamont Granquist <lamont@chef.io> lamont-opscode <lamont@opscode.com>
Lamont Granquist <lamont@chef.io> Lamont Granquist <lamont@opscode.com>
Lamont Granquist <lamont@chef.io> Lamont Granquist <lamont@scriptkiddie.org>
Lamont Granquist <lamont@chef.io> lamont-granquist <lamont@scriptkiddie.org>

# Serdar Sutay
Serdar Sutay <serdar@chef.io> Serdar Sutay <serdar@opscode.com>
Serdar Sutay <serdar@chef.io> sersut <serdar@opscode.com>
Serdar Sutay <serdar@chef.io> ssutay <serdar@opscode.com>

# Claire McQuin
Claire McQuin <claire@chef.io> Claire McQuin <claire@getchef.com>
Claire McQuin <claire@chef.io> Claire McQuin <mcquin@users.noreply.github.com>
Claire McQuin <claire@chef.io> Claire McQuin <claire@opscode.com>
Claire McQuin <claire@chef.io> Claire McQuin <clairemcquin@seamcquin01.local>

# John Keiser
John Keiser <jkeiser@chef.io> John Keiser <jkeiser@opscode.com>
John Keiser <jkeiser@chef.io> jkeiser <jkeiser@opscode.com>
John Keiser <jkeiser@chef.io> John Keiser <john@johnkeiser.com>
John Keiser <jkeiser@chef.io> John Keiser <johnkeiser@John-Keisers-MacBook-Pro.local>

# Seth Chisamore
Seth Chisamore <schisamo@chef.io> Seth Chisamore <schisamo@getchef.com>
Seth Chisamore <schisamo@chef.io> Seth Chisamore <schisamo@opscode.com>

# Joshua Timberman
Joshua Timberman <joshua@chef.io> jtimberman <joshua@chef.io>
Joshua Timberman <joshua@chef.io> Joshua Timberman <joshua@opscode.com>
Joshua Timberman <joshua@chef.io> Joshua Timberman <jtimberman@cider.local>
Joshua Timberman <joshua@chef.io> Joshua Timberman <jtimberman@users.noreply.github.com>
Joshua Timberman <joshua@chef.io> jtimberman <joshua.timberman@gmail.com>
Joshua Timberman <joshua@chef.io> jtimberman <joshua@opscode.com>
Joshua Timberman <joshua@chef.io> jtimberman <jtimberman@www1test.housepub.org>

# Nuo Yan
Nuo Yan <nuo@opscode.com>
Nuo Yan <nuo@opscode.com> Nuo Yan <nuoyan@nuo-yans-macbook-pro.(none)>
Nuo Yan <nuo@opscode.com> Nuo Yan <nuoyan@nuo-yans-macbook-pro.local>

# Thom May
Thom May <thom@chef.io> Thom May <thom@clearairturbulence.org>
Thom May <thom@chef.io> Thom May <thom.may@betfair.com>
Thom May <thom@chef.io> Thom May <thom@digital-science.com>
Thom May <thom@chef.io> Thom May <thom@virelais.nyc.joostas.com>
Thom May <thom@chef.io> Thom May <tmay@expedia.com>

# Stephen Delano
Stephen Delano <stephen@chef.io> Stephen Delano <stephen@opscode.com>
Stephen Delano <stephen@chef.io> Stephen Delano <stephen@opscode-stephen.(none)>
Stephen Delano <stephen@chef.io> Stephen Delano <stephen@opscode-stephen.local>
Stephen Delano <stephen@chef.io> sdelano <stephen@opscode.com>

# AJ Christensen
AJ Christensen <aj@opscode.com>
AJ Christensen <aj@opscode.com> AJ Christensen <aj@junglist.gen.nz>

# Seth Falcon
Seth Falcon <seth@chef.io> Seth Falcon <seth@opscode.com>
Seth Falcon <seth@chef.io> Seth Falcon <sethfalcon@gmail.com>

# Adam Edwards
Adam Edwards <adamed@chef.io> Adam Edwards <adamed@opscode.com>
Adam Edwards <adamed@chef.io> adamedx <adamed@getchef.com>
Adam Edwards <adamed@chef.io> adamedx <adamed@opscode.com>
Adam Edwards <adamed@chef.io> adamedx <admed@opscode.com>

# Prajakta Purohit
Prajakta Purohit <prajakta@chef.io> Prajakta Purohit <prajakta@opscode.com>
Prajakta Purohit <prajakta@chef.io> PrajaktaPurohit <prajakta@opscode.com>

kaustubh-d <kaustubh@clogeny.com>
kaustubh-d <kaustubh@clogeny.com> kaustubh <kaustubh.deo@gmail.com>
kaustubh-d <kaustubh@clogeny.com> kaustubh-d <kausubh@clogeny.com>

# Xabier de Zuazo
Xabier de Zuazo <xabier@onddo.com>
Xabier de Zuazo <xabier@onddo.com> Xabier de Zuazo <xabier.zuazo@evandti.com>
Xabier de Zuazo <xabier@onddo.com> Xabier de Zuazo <xabier@zuazo.org>

# Tim Hinderliter
Tim Hinderliter <tim@opscode.com>
Tim Hinderliter <tim@opscode.com> tim@opscode.com <tim@opscode.com>
Tim Hinderliter <tim@opscode.com> timh <tim@opscode.com>

# Mark Paradise
Marc Paradise <marc@chef.io> Marc Paradise <marc@opscode.com>
Marc Paradise <marc@chef.io> marc@opscode.com <marc@opscode.com>

# Tyler Ball
Tyler Ball <tyleraball@gmail.com> tyler-ball <tyleraball@gmail.com>

# Steven Danna
Steven Danna <steve@chef.io> Steven Danna <steve@opscode.com>

# Salim Alam
Salim Alam <salam@chef.io> chefsalim <salam@chef.io>

# Isa Farnik
Isa Farnik <isa@chef.io> curiositycasualty <isa@getchef.com>
Isa Farnik <isa@chef.io> curiositycasualty <isa@opscode.com>

# Paul Mooring
Paul Mooring <paul@chef.io> Paul Mooring <paul@opscode.com>

# Jeremiah Snapp
Jeremiah Snapp <jeremiah@chef.io> Jeremiah Snapp <jeremiah@getchef.com>
Jeremiah Snapp <jeremiah@chef.io> Jeremiah Snapp <jeremiah.snapp@opscode.com>
Jeremiah Snapp <jeremiah@chef.io> Jeremiah Snapp <jeremiah@opscode.com>

# Mark Myzk
Mark Mzyk <mmzyk@chef.io> Mark Mzyk <mmzyk@opscode.com>
Mark Mzyk <mmzyk@chef.io> mmzyk <mmzyk@opscode.com>
Mark Mzyk <mmzyk@chef.io> Mark Mzyk <markmzyk@Marks-MacBook-Pro.local>

# Chris Doherty
Chris Doherty <cdoherty@chef.io> Chris Doherty <cdoherty@getchef.com>
Chris Doherty <cdoherty@chef.io> Chris Doherty <cdoherty@ooyala.com>
Chris Doherty <cdoherty@chef.io> Chris Doherty <randomcamel@users.noreply.github.com>
Chris Doherty <cdoherty@chef.io> unknown <cdoherty@chef.io>

# Christopher Webber
Christopher Webber <cwebber@chef.io> Christopher Webber <cwebber@getchef.com>

# Tyler Cloke
Tyler Cloke <tyler@chef.io> tylercloke <tyler@opscode.com>
Tyler Cloke <tyler@chef.io> tylercloke <tylercloke@gmail.com>
Tyler Cloke <tyler@chef.io> Tyler Cloke <tylercloke@gmail.com>

# Julian Dunn
Julian C. Dunn <jdunn@chef.io> Julian C. Dunn <jdunn@getchef.com>
Julian C. Dunn <jdunn@chef.io> Julian C. Dunn <jdunn@opscode.com>
Julian C. Dunn <jdunn@chef.io> Julian C. Dunn <jdunn@aquezada.com>

# Tom Duffield
Tom Duffield <tom@chef.io> Tom Duffield <tom@getchef.com>
Tom Duffield <tom@chef.io> Tom Duffield <tom@opscode.com>

# Scott Hain
Scott Hain <shain@chef.io> Scott Hain <shain@getchef.com>

# Peter Burkholder
Peter Burkholder <pburkholder@chef.io> Peter Burkholder <peterb@getchef.com>

# JJ Ashgar
JJ Asghar <jj@chef.io> JJ Asghar <jj@getchef.com>
