# Temporary workaround for issue with rubygems 2.2.0 with bundler 1.5 on ruby
# 1.8.7.
#
# A fix has been merged to rubygems but not yet released. See:
# https://github.com/rubygems/rubygems/commit/f8e0f1d5f67cfc4e1966cc1e2db367aebf8a09e4
#
# See also CHEF-4916
#
# This workaround should be removed when that fix is released.
before_install:
  - gem update --system 2.1.11
  - gem --version

matrix:
  include:
    - rvm: 1.8.7
    - rvm: 1.9.3
    - rvm: 2.0.0
    - rvm: 2.1.0
    - rvm: 2.1.0
      gemfile: pedant.gemfile
      script: bundle exec rake pedant

branches:
  only:
    - master
    - 10-stable
    - 11-stable

script: bundle exec rspec --color --format progress
