language: ruby
sudo: true 
dist: trusty

# Early warning system to catch if Rubygems breaks something
before_install:
  - gem update --system 2.6.14
  - gem --version
  - rvm @global do gem uninstall bundler -a -x
  - gem install bundler -v 1.15.4
  - $(which bundle) --version
  - bundle config


before_script:
 # force all .rspec tests into progress display to reduce line count
 - echo --color > .rspec
 - echo -fp >> .rspec
 # necessary for sudo: true tests, ingore failures on tests invoked with sudo: false
 - sudo sed -i -e 's/^Defaults\tsecure_path.*$//' /etc/sudoers || true
 - ENV

# do not run expensive spec tests on PRs, only on branches
branches:
  only:
  - master

env:
  global:
    - FORCE_FFI_YAJL=ext

matrix:
  include:
  - rvm: 2.3.5
    script: sudo -E $(which bundle) exec rake spec;
    bundler_args: --without ci docgen guard integration maintenance omnibus_package --frozen
  - rvm: 2.4.2
    script: sudo -E $(which bundle) exec rake spec;
    bundler_args: --without ci docgen guard integration maintenance omnibus_package --frozen
