version: "master-{build}"

os: Visual Studio 2017
platform:
  - x64

cache:
- vendor/bundle

environment:
  matrix:
    - ruby_version: "24-x64"

clone_folder: c:\projects\chef
clone_depth: 1
skip_tags: true
branches:
  only:
    - master
    - chef-13
    - chef-12

install:
  - systeminfo
  - winrm quickconfig -q
  - regedit /s c:\projects\chef\appveyor_registry.reg
  - SET PATH=C:\Ruby%ruby_version%\bin;%PATH%
  - echo %PATH%
  - appveyor DownloadFile http://curl.haxx.se/ca/cacert.pem -FileName C:\cacert.pem
  - set SSL_CERT_FILE=C:\cacert.pem
  - SET BUNDLE_WITHOUT=server:docgen:maintenance:pry:travis:integration:ci
  - bundle config --local path vendor/bundle # use the cache we define above
  - bundle install || bundle install || bundle install

build: off

before_test:
  - ruby --version
  - gem --version
  - bundler --version
  - bundle env

test_script:
  - SET SPEC_OPTS=--format progress
  - bundle exec rake spec
