version: "master-{build}"

os: Visual Studio 2017
platform:
  - x64

cache:
  - vendor/bundle

configuration:
  - integration
  - functional
  - unit

environment:
  matrix:
    - ruby_version: "25-x64"
    - ruby_version: "26-x64"

clone_folder: c:\projects\chef
clone_depth: 1

skip_commits:
  # version bumps by Expeditor happen as a separate commit after the merge, we can skip
  message: /Bump version to [0-9.]+ by Chef Expeditor/
  # if ONLY the files listed below are changed in a commit, skip
  files:
    - CHANGELOG.md
    - RELEASE_NOTES.md

skip_tags: true
branches:
  only:
    - master
    - chef-14

install:
  - systeminfo
  - winrm quickconfig -q
  - SET PATH=C:\Ruby%ruby_version%\bin;%PATH%
  - echo %PATH%
  - appveyor DownloadFile http://curl.haxx.se/ca/cacert.pem -FileName C:\cacert.pem
  - set SSL_CERT_FILE=C:\cacert.pem
  - SET BUNDLE_WITHOUT=server:docgen:pry:integration:ci
  - bundle config --local path vendor/bundle # use the cache we define above
  - bundle install || bundle install || bundle install
  - SET SPEC_OPTS=--format progress
  - SET CHEF_LICENSE=accept-no-persist

build: off

before_test:
  - ruby --version
  - gem --version
  - bundler --version
  - bundle env

for:
  -
    matrix:
      only:
        - configuration: integration
    build_script:
      - bundle exec rake spec:integration
  -
    matrix:
      only:
        - configuration: functional
    build_script:
      - bundle exec rake spec:functional
  -
    matrix:
      only:
        - configuration: unit
    build_script:
      - bundle exec rake spec:unit
      - bundle exec rake component_specs
