# TODO: Remove this file when opscode-ci starts using omnibus.rb
# This file is currently being used in omnibus build pipelines only.
# Once opscode-ci cookbook is updated to use omnibus.rb this file
# should be removed.

# s3_access_key "something"
# s3_secret_key "something"

s3_bucket "opscode-omnibus-cache"
use_s3_caching true
solaris_compiler "gcc"
build_dmg true
sign_pkg true
signing_identity "Developer ID Installer: Opscode Inc. (9NBR9JL2R2)"
