
Omnibus.configure do |o|
  # o.s3_access_key    = "something"
  # o.s3_secret_key    = "something"
  o.s3_bucket        = "opscode-omnibus-cache"
  o.use_s3_caching   = true
  o.solaris_compiler = "gcc"
end
