%form{:method => "post", :action => url(:openid_server_decision)}
  %table
    %tr
      %td Site:
      %td= @oidreq.trust_root
    - if @oidreq.id_select
      %tr
        %td{:colspan => "2"}
          You entered the server identifier at the relying party. 
          You will need to send an identifier of your choosing.  
          Enter a username and password below.
      %tr
        %td Identity to send:
        %td
          %input{:type => "text", :name => "id_to_send", :size => "25"}
    - else
      %tr
        %td Identity:
        %td= @oidreq.identity
      %tr
        %td
          %label{:for => "password"} Password:
        %td
          %input{:type => "password", :name => "password"}
  %input{:type => "submit", :name => "submit", :value => "Authenticate"}
  %input{:type => "submit", :name => "cancel", :value => "Cancel"}
  
