binstubs
.bundle
vendor/bundle
pkg/*
kitchen.local.yml
bin/*
files/chef-server-cookbooks/cache/
files/msi/ChefClient-Config.wxi
cookbooks
vendor/cookbooks
build_timestamp
ldd.out
Berksfile.lock
Gemfile.local
