*.gem
.bundle
vendor/bundle
pkg/*
.vagrant
.kitchen
.kitchen.local.yml
bin/*
files/chef-server-cookbooks/cache/
files/msi/ChefClient-Config.wxi
cookbooks
vendor/cookbooks
build_timestamp
ldd.out
jenkins/chef-solo
