<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
	<dict>
		<key>Label</key>

		<string>io.chef.testing.fake</string>

		<key>ProgramArguments</key>

		<array>
			<string>/bin/sleep</string>
			<string>60</string>
		</array>

		<key>StartCalendarInterval</key>

		<dict>
			<key>Hour</key>
			<integer>1</integer>
		</dict>
	</dict>
</plist>
