.ruby .normal {}
.ruby .comment { color: #005; font-style: italic; }
.ruby .keyword { color: #A00; font-weight: bold; }
.ruby .method { color: #077; }
.ruby .class { color: #074; }
.ruby .module { color: #050; }
.ruby .punct { color: #447; font-weight: bold; }
.ruby .symbol { color: #099; }
.ruby .string { color: #944; background: #FFE; }
.ruby .char { color: #F07; }
.ruby .ident { color: #004; }
.ruby .constant { color: #07F; }
.ruby .regex { color: #B66; background: #FEF; }
.ruby .number { color: #F99; }
.ruby .attribute { color: #7BB; }
.ruby .global { color: #7FB; }
.ruby .expr { color: #227; }
.ruby .escape { color: #277; }

.files {
  padding-left: 20px;
}

.code {
  overflow: auto;
  font-size: 0.8em;
}

.search td {
  /*overflow: auto;*/
  font-size: 0.8em;
}

dl dt { font-weight: bold; }
.content td dl { margin: 0; padding: 0; }
.content td dt {
  background: transparent url(/images/toggle-collapse.gif) 0 3px no-repeat;
  clear: left; color: #333; cursor: pointer; line-height: 1em;
  margin-left: -12px; padding-left: 14px;
}
.content td dd { margin: 0;
  padding: 0 0 0 1em;
}
.content td dt.collapsed {
  background-image: url(/images/toggle-expand.gif);
}
.content td dt.inline { background-image: none; cursor: default;
  float: left; margin-left: 0; padding-left: 2px; padding-right: .5em;
  padding-top: 2px;
}

div.roleFormContainer, div.nodeFormContainer{
  padding: 0 15px 15px;
  min-width:1000px;
}

div#run_list_editor_container {
  min-height:450px;
  min-width:1000px;
}

div.runListEditorColumn {
  float:left;
}

span#environment_run_list_selection_control{
  float:right;
  margin-right:10px;
}

span.runListEditorLabel{
  font-size: 1.2em;
  padding: 1px 0 3px 0;
  margin: 0;
  display: inline-block;
  font-weight: bold;
}

div.runListAvailableItemContainer, div.runListContainer {
  width: 300px;
  margin-right: 10px;
  border: 1px solid black;
  overflow-y: scroll;
  background: #eee;
}

div.runListAvailableItemContainer{
  height: 200px;
}

div.runListContainer{
  height: 423px;
}

ul.runListAvailableItemList, ul.runListItemList {
  padding:5px 0px 0px 0px;
  min-height:185px;
  width:100%;
  list-style-type: none;
  margin: 0px;
  background: #eee;
}

ul.runListItemList{
  min-height:410px;
}

li.runListItem{
  margin: 0px 5px 5px 5px;
  padding: 5px;
  width: 93%;
  overflow:hidden;
  cursor:pointer;
}

div.clear {
  clear: left;
}

table.form th {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

div.help {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

table.form td {
  text-align: left;
}

table.sortable td {
  vertical-align: top;
}

table.sortable ul {
  background: #ff00ff;
  margin: 5px;
  padding: 5px;
}

td.table-key {
  font-weight: bold;
}

div.json-attr {
  overflow: auto;
  max-width: 400px;
}

td.position {
  font-weight: bold;
}

div#tree {
  float: left;
}

div#jform {
  float: left;
  margin-left: 50px;
}

div.editor {
  border: 1px solid black;
}

div.attrEditor{
  clear:both;
}

div.attrEditor #treecontainer, div.attrEditor #tabcontainer{
  float:left;
}

div.attrEditor #tabcontainer{
  position:relative;
  top:0px;
}

#sidebar_block {
  display: none;
}

#sidebar_block_notice {
  display: none;
}

div.tooltip {
    background-color: #000;
    outline: 1px solid #669;
    border: 2px solid #fff;
    padding: 10px 15px;
    /* width: 200px;  */
    display: none;
    color: #fff;
    text-align: left;
    font-size: 12px;
    outline-radius: 4px;
    -moz-outline-radius: 4px;
    -webkit-outline-radius: 4px;
}

table.tooltip {
  width: 190px;
}

h1 a, h1 label, h1 .title-select {
  display: inline-block;
  vertical-align: middle;
}

h1 label {
  font-size: 12px;
  color: #F7F7F8;
  padding-left: 10px;
}