/* Put this inside a @media qualifier so Netscape 4 ignores it */
@media screen, print {
	/* Turn off list bullets */
	ul.mktree  li { list-style: none; }

	ul.mktree {margin: 0px; margin-left: -10px !important; margin-top: 3px;}
	/* Control how "spaced out" the tree is */
	ul.mktree, ul.mktree ul , ul.mktree li { margin-left:10px; padding:0px; white-space: nowrap}
	/* Provide space for our own "bullet" inside the LI */
	ul.mktree  li           .bullet { padding-left: 15px;}
	/* Show "bullets" in the links, depending on the class of the LI that the link's in */
	ul.mktree  li.liOpen    .bullet { cursor: pointer; background: url(../images/jsonedit/minus.gif)  center left no-repeat; }
	ul.mktree  li.liClosed  .bullet { cursor: pointer; background: url(../images/jsonedit/plus.gif)   center left no-repeat; }
	ul.mktree  li.liBullet  .bullet { cursor: default; background: url(../images/jsonedit/bullet.gif) center left no-repeat; }
	/* Sublists are visible or not based on class of parent LI */
	ul.mktree  li.liOpen    ul { display: block; border-left:1px solid #f5f5f5; border-top:1px solid #f5f5f5;}
	ul.mktree  li.liClosed  ul { display: none; }


	ul.mktree  li { line-height: 16px }
	/* Format menu items differently depending on what level of the tree they are in */
	/* Uncomment this if you want your fonts to decrease in size the deeper they are in the tree */
/*
	ul.mktree  li ul li { font-size: 90% }
*/

}

#jsoneditor {
  height: 350px;
}

#treecontainer{
	border:1px solid #ccc;
	position: absolute;
	width:300px;
	height: 350px;
	overflow: auto;
	margin-right:4px;
}
#treecontainer div, #treecontainer a{
	color: #000000;
	font-size: 12px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Bitstream Vera Sans",sans-serif;
	text-decoration: none;
	padding-left: 2px;
	padding-right: 2px;
	cursor:pointer;
}
#treecontainer .au{background-color: #ffffff; color: #000000} 	/* A tag unselected*/
#treecontainer .as{background-color: #0a246a; color: #ffffff }	/* A tag selected*/

#tabcontainer{
	position: absolute;
	left: 310px;
	top: 19px;
	overflow: hidden;
}
#tabcontainer #console{
	margin-top:4px;
	border: 1px solid #ccc;
	width:498px;
	display: none;
}
#tabcontainer #console #log{
	color:#FF0000;
	font-size: 12px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Bitstream Vera Sans",sans-serif;
	padding:2px;
}
#tabcontainer #console #bar{
	background-image:url(../images/jsonedit/cross.png);
	_background-image:url(../images/jsonedit/cross.gif);
	background-position: right;
	background-repeat:no-repeat;
	font-size: 12px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Bitstream Vera Sans",sans-serif;
	padding:2px;
	background-color:#F0F0F0;
}
#tabcontainer #console #bar a{
	display: block
}
#tabcontainer .noshow{display:none}
#tabcontainer .show{display:block}
div.tablayout {
	width: 500px;
	margin: 0 0 0px 0;
}
div.nested{
	width: 480px;
	margin: 0 0 0px 0;
}
ul.tablayout {
	list-style-type: none;
	width: 100%;
	float: left;
	background: url(../images/jsonedit/pixel.gif) bottom left repeat-x;
	margin:0pt;
	padding:0pt;
	font-size: 12px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Bitstream Vera Sans",sans-serif;
}
ul.tablayout li {
	margin: 0 2px 0 0;
	float: left;
}
ul.tablayout a {
	float: left;
	display: block;
	padding: 2px 8px;
	border: 1px solid #ccc;
	border-bottom: 0;
	color: #666;
	background: #eee;
	text-decoration: none;
	font-weight: bold;
	outline:0;
}
ul.tablayout a:hover {background: #fff;}
ul.tablayout a.active {
	background: #fff;
	padding-bottom: 3px;
	cursor: default;
	color: red;
}
#tab-container-2-nav a {
	padding: 0px 8px;
	background-color:#CCCCCC;
}
#tab-container-2-nav a.active{
	background-color:#f0f0f0;
}
#tab-container-2-nav li{

}
.xmlchoice{
	height:24px;
	text-align:left !important;
}
.xmlchoice input{
	margin-top:0px;
	vertical-align:middle;
}
.tab{
	clear: left;
	border: 1px solid #ccc;
	border-top: 0;
	padding: 8px 8px 0 8px;
}
.tab{
	font-size: 12px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Bitstream Vera Sans",sans-serif;
}
.tabn{
	clear: left;
	border: 1px solid #ccc;
	border-top: 0;
	padding: 8px 8px 0 8px;
	margin-bottom:8px;
	background-color:#f0f0f0;
}
.tabn{
	font-size: 12px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Bitstream Vera Sans",sans-serif;
}


.tab h2{margin: 0 0 20px 0;}

.tab .button{
	border:1px solid white;
	float:left;
	height:20px;
	width:20px;
	background-repeat:no-repeat;
	background-position: center center;
	cursor: pointer;
}
.tabn .button{
	border:1px solid #f0f0f0;
	float:left;
	height:20px;
	width:20px;
	background-repeat:no-repeat;
	background-position: center center;
	cursor: pointer;
}
.tab .button:hover{border:1px outset;}
.buttondown{border:1px inset !important}
.tab #addbutton {
	display: none;
	background:#EEEEEE none repeat scroll 0 0;
	border:1px solid #001C26;
	color:#001C26;
	cursor:pointer;
	padding:2px 5px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
}
.tab #savebutton {
	background:#EEEEEE none repeat scroll 0 0;
	border:1px solid #001C26;
	color:#001C26;
	cursor:pointer;
	padding:2px 5px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
}
.tab #search {
	background:#EEEEEE none repeat scroll 0 0;
	border:1px solid #001C26;
	color:#001C26;
	cursor:pointer;
	padding:2px 5px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
}
.tab #refresh{
	background-image:url(../images/jsonedit/table_refresh.png);
	_background-image:url(../images/jsonedit/table_refresh.gif);
}
.tab #buildbutton{
	background-image:url(../images/jsonedit/build-button.png);
}
.tab #add{
	background-image:url(../images/jsonedit/add2.png);
}

.tab #delete{
	background-image:url(../images/jsonedit/delete.png);
	_background-image:url(../images/jsonedit/delete.gif);
}

.tab #jsonnameinput{
	display: none;
}

.tab textarea{
	/*border: 1px solid;*/
	width: 99%;
	font-size:13px;
	font-family:"Consolas","Lucida Console",Courier,monospace;
}
.tab select{
	font-size: 12px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Bitstream Vera Sans",sans-serif;
}
.tab .icanhastable td{text-align: right;}
.tab .icanhastable{
	border: 0px;
	width: 100%;
	padding-bottom:6px;
}
.tab .icanhastable td #autodetect{
	vertical-align:middle;
}

#tab2 #jsonpath{
	text-align: left;
	margin-left: 4px;
	font-size: 12px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Bitstream Vera Sans",sans-serif;
	letter-spacing:1px;
}
#tab2 #jsonmode{
	text-align: left;
	margin-left: 4px;
	font-size: 11px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Bitstream Vera Sans",sans-serif;
	letter-spacing:1px;
}
#tab1 .icanhastable td{text-align: left;}
#tab1 .icanhastable #results{
	border: 1px solid #CCCCCC;
	max-height:283px;
	overflow:auto;
}
#tab1 .icanhastable #results table td{
	background-color: #ffffcc;
}
#tab1 .icanhastable #results table td a{
	color: #0000cc;
}
#tab1 .icanhastable #results table td a:hover{
	text-decoration: underline;
}
#tab1 .icanhastable #results table .path{
	font-size: 10px;
}
