- @templates.each do |template, data|
  .index
    %table
      %tr
        %td
          %a{ :href => url(:cookbook_template, { :cookbook_id => params[:cookbook_id], :id => data[:link_name], :version => data[:version] }) }
            = "#{data[:version]} - #{data[:name]}"
