.ruby .normal {}
.ruby .comment { color: #005; font-style: italic; }
.ruby .keyword { color: #A00; font-weight: bold; }
.ruby .method { color: #077; }
.ruby .class { color: #074; }
.ruby .module { color: #050; }
.ruby .punct { color: #447; font-weight: bold; }
.ruby .symbol { color: #099; }
.ruby .string { color: #944; background: #FFE; }
.ruby .char { color: #F07; }
.ruby .ident { color: #004; }
.ruby .constant { color: #07F; }
.ruby .regex { color: #B66; background: #FEF; }
.ruby .number { color: #F99; }
.ruby .attribute { color: #7BB; }
.ruby .global { color: #7FB; }
.ruby .expr { color: #227; }
.ruby .escape { color: #277; }

.files {
  padding-left: 20px;
}

.code {
  overflow: auto;
  font-size: 0.8em;
}

.search td {
  /*overflow: auto;*/
  font-size: 0.8em;
}

dl dt { font-weight: bold; }
.content td dl { margin: 0; padding: 0; }
.content td dt {
  background: transparent url(/images/toggle-collapse.gif) 0 3px no-repeat;
  clear: left; color: #333; cursor: pointer; line-height: 1em;
  margin-left: -12px; padding-left: 14px;
}
.content td dd { margin: 0;
  padding: 0 0 0 1em;
}
.content td dt.collapsed {
  background-image: url(/images/toggle-expand.gif);
}
.content td dt.inline { background-image: none; cursor: default;
  float: left; margin-left: 0; padding-left: 2px; padding-right: .5em;
  padding-top: 2px;
}

div.sortable {
  height: 200px;
  width: 225px;
  margin-right: 10px;
  border: 1px solid black;
  overflow: scroll;
  background: #777777;
}

div.sortable.run-list {
  height: 430px;
  width: 225px;
  margin-right: 10px;
  border: 1px solid black;
  overflow: scroll;
  background: #777777;
}

div.clear {
  clear: left;
}

table.form th {
  /* vertical-align: top; */
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

div.help {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

table.form td {
  text-align: left;
  /* vertical-align: top; */
}

table.sortable td {
  vertical-align: top;
}

table.sortable ul {
  background: #ff00ff;
  margin: 5px;
  padding: 5px;
}

td.table-key {
  font-weight: bold;
}

div.json-attr {
  overflow: auto;
  max-width: 400px;
}

td.position {
  font-weight: bold;
}

div#tree {
  float: left;
}

div#jform {
  float: left;
  margin-left: 50px;
}

div.editor {
  border: 1px solid black;
}

#node_available_roles, #node_available_recipes, #for_node, #for_role, #available_recipes { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 200px;}

#node_available_roles li, #node_available_recipes li, #for_node li, #for_role li, #available_recipes li { margin: 0 5px 5px 5px; padding: 5px; width: 175px; }

#sidebar_block {
  display: none;
}

#sidebar_block_notice {
  display: none;
}

div.tooltip {
    background-color: #000;
    outline: 1px solid #669;
    border: 2px solid #fff;
    padding: 10px 15px;
    /* width: 200px;  */
    display: none;
    color: #fff;
    text-align: left;
    font-size: 12px;
    outline-radius: 4px;
    -moz-outline-radius: 4px;
    -webkit-outline-radius: 4px;
}

table.tooltip {
  width: 190px;
}
