%script= raw("$(document).ready(function() { $$(\"jsonstr\").value = JSON.stringify(#{json}); if (BCJTEP.build()) { $$(\"results\").innerHTML = \"&nbsp;\"; $$(\"editortab\").className = \"show\"; $$(\"searchtab\").className = \"show\"; }});")
%div#jsoneditor
  %div#treecontainer
    %div#div1
  %div#tabcontainer
    %div#tab-container-1.tablayout
      %ul#tab-container-1-nav.tablayout
        %li#searchtab.noshow
          %a{ :href => "#tab1"} search
        %li#editortab.noshow
          %a{ :href => "#tab2"} editor
        %li#sourcetab
          %a{ :href => "#tab3"} source
      %div#tab1.tab
        %table.icanhastable
          %tr
            %td
              %span search :
              %input#keyword{:type => "text"}
              %input#search{:type => "button", :value => "Find"}
          %tr
            %td
              %div#results &nbsp;
      %div#tab2.tab
        %table.icanhastable
          %tr
            %td
              %div#add.button{:title => "Add a new attribute"}
              %div#delete.button{:title => "Delete current attribute"}
              %div#savedstatus{:style => "display:none;"}
                %img{ :src=> "/assets/jsonedit/saved.png"}
                %span Saved!
              %div#deletedstatus{:style => "display:none;"}
                %img{ :src=> "/assets/jsonedit/deleted.png"}
                %span Deleted!
            %td
              type :
              %select#jsontypes
                %option Select Type
          %tr
            %td{:colspan => "2"}
              %div#jsonnameinput
                name :
                %input#jsonname{:type => "text", :size=>"55", :class => ""}
          %tr
            %td{:colspan => "2"}
              %textarea#jsonvalue{:wrap => "virtual", :cols => "55", :rows => "5", :class => ""}
          %tr
            %td{:colspan => "2"}
              %div#jsonpath &nbsp;
              %div#jsonmode &nbsp;
          %tr
            %td{:style => "text-align:left !important"}
              %input#autodetect{:type => "checkbox", :checked=> "true"}
              %label{:for => "autodetect"} Autodetect type of attribute?
            %td
              %input#savebutton{:type => "button", :value => "Save Attribute"}
              %input#addbutton{:type => "button", :value => "Add Attribute"}
      %div#tab3.tab
        %div#tab-container-2.tablayout.nested
          %ul#tab-container-2-nav.tablayout
            %li
              %a{ :href => "#tab3a" } json
          %div#tab1a.tabn
            %table.icanhastable
              %tr
                %td
                  %div#refresh.button{:title => "Reload JSON from Tree"}
                  %div#buildbutton.button{:title => "Load JSON from Source"}
              %tr
                %td
                  %textarea#jsonstr{:wrap => "virtual", :cols => "55", :rows => "10", :class => ""}
      %div#console
        %div#bar
          %a#consolebar Error Console
        %div#log
