.block#block-tables
  .content
    %h2.title
      Cookbooks
    .inner
      %table.table
        %thead
          %tr
            %th.first Cookbook Name
            %th.last Version
        %tbody
          - @cl.each do |cookbook, version|
            %tr
              %td= link_to cookbook, url(:show_specific_version_cookbook, :cookbook_id => cookbook, :cb_version => version)
              %td= version
