.block#block-text
  .content
    %h2
      .title
        = "#{@cookbook_id}"
        %select{:name => "choice", :onchange => "jump(this)", :size => "1"}
          - @versions.each do |version|
            - selected = @version == version
            %option{:value => cookbook_link(version), :selected => selected }
              = version
    .inner
      .accordion
        - cookbook_parts.each do |(part, type)|
          = partial('cookbook_content', :cookbook_part => part, :type => type)
