- throw_content(:header, "Node List")
- @node_list.each do |node|
  .node
    %a{ :href => url(:node, { :id => node.gsub(/\./, "_") }) }
      = node
    - if session[:level] == :admin
      = delete_button url(:node, { :id => node.gsub(/\./, "_") }), "Delete"