%table
  - actions.each do |action, resource_hash|
    %tr
      %td.action_name= action.to_s
      %td.action_resources
        %table
          - resource_hash.keys.sort{ |a,b| a.to_s <=> b.to_s }.each do |rk|
            %tr
              %td.action_when= rk.to_s
              %td
                - resource_hash[rk].each do |resource|
                  = render(:resource, :resource => resource)
                  
