.block#block-tables
  .content
    %h2.title= "Node"
    .inner
      = partial('navigation', :active => 'create')
  = partial('form', :header => "Create new Node", :form_id => 'create_node', :submit_name => "Create Node", :submit_id => "create_node_button", :form_for => 'create', :form_url => url(:nodes))
