.block#block-text
  .content
    %h2.title= "Node #{h @node.name}"
    .inner
      %textarea#attrib_json_edit= JSON.pretty_generate(@node.attribute)
      %textarea#recipe_json_edit= JSON.pretty_generate(@node.recipes)