- throw_content(:header, "Registered OpenID Nodes List")
%table
- @registered_nodes.each do |node|
  %tr
    %td
      %a{ :href => url(:registration, { :id => node.name }) }
        = h node.name
    %td
      - if session[:level] == :admin
        %form{ :method => "post", :action => url(:validate_registration, { :id => node.name })}
          - submit_name =  node.validated ? "Invalidate" : "Validate"
          %input{ :type => "submit", :name => submit_name, :value => submit_name }
        %form{ :method => "post", :action => url(:admin_registration, { :id => node.name })}
          - submit_name =  node.admin ? "Remove Admin Rights" : "Admin"
          %input{ :type => "submit", :name => submit_name, :value => submit_name }
        %form{ :method => "post", :action => url(:registration, { :id => node.name })}
          %input{ :type => "hidden", :name => "_method", :value => "delete" }
          %input{ :type => "submit", :name => "Delete", :value => "Delete" }
