# The name of the product key for this product from mixlib-install
product_key: chef

# Slack channel in Chef Software slack to send notifications about build failures, etc
slack:
  notify_channel: chef-notify

# When a version of ChefDK hits the current channel, build a corresponding Docker image
# and publish that image to https://hub.docker.com/r/chef/chefdk
docker:
  enable: true
  build_args:
    CHANNEL: "{{channel}}"
    VERSION: "{{version}}"

github:
  version_tag_format: "v{{version}}"
  maintainer_group: chef/client-core

merge_actions:
  built_in:bump_version:
    ignore_labels: "Version: Skip Bump"
  bash:.expeditor/update_version.sh:
    only_if: built_in:bump_version
  built_in:trigger_omnibus_release_build:
    ignore_labels: "Omnibus: Skip Build"
    only_if: built_in:bump_version
