.block#block-tables
  .content
    %h2.title= "Databag Item"
    .inner
      = render('navigation', :active => 'create')
  = render('form', :header => "Create new Databag Item", :form_id => 'create_databag_item', :submit_name => "Create Databag Item", :submit_id => "create_databag_item_button", :form_for => 'create', :form_url => databag_databag_items_path)
