<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <title>Install Chef Infra Client</title>
</head>
<body>
<font face="Helvetica">
This package will install Chef Infra Client.
<br>
<br>
For more information please visit: <a href="https://community.chef.io/tools/chef-infra-client">https://community.chef.io/tools/chef-infra-client</a>.
</font>
</body>
</html>
