.block#block-text
  .content
    %h2.title Content-Type Unacceptable.
    .inner
      The Chef Server's REST API only responds to requests for JSON data.  Set the 'Accept' header on your request to 'application/json' and try again.
