%h1 Node List
- @node_list.each do |node|
  .node
    %a{ :href => url(:node, { :id => node.gsub(/\./, "_") }) }
      = node
      %form{ :method => "post", :action => url(:node, { :id => node.gsub(/\./, "_") })}
        %input{ :type => "hidden", :name => "_method", :value => "delete" }
        %input{ :type => "submit", :name => "Delete", :value => "Delete" }
      