%form{ :method => "get", :action => slice_url(:search, { :id => index_name }) }
  Q: 
  %input{ :type => "text", :name => "q" }
  A:
  %input{ :type => "text", :name => "a" }
  %input{ :type => "submit", :value => "Search #{index_name}" }
