%form{ :method => "get", :action => :search_url(index_name) }
  Q:
  %input{ :type => "text", :name => "q" }
  A:
  %input{ :type => "text", :name => "a" }
  %input{ :type => "submit", :value => "Search #{index_name}" }
