.block#block-forms
  .content
    %h2.title Search Indexes
    .inner
      - @search_indexes.sort{ |a,b| a.to_s <=> b.to_s}.each do |index|
        %form.form{ :method => "get", "accept-charset" => "UTF-8", :action => search_path(index[0]) }
          .group.label
            = label_tag "q", "Query (i.e. attribute:value, leave empty to search all)"
            = text_field_tag "q", nil, :class => 'text'
          .group= submit_tag "Search #{index[0]}"
