---
name: func_spec

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  choco:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019, windows-2022]
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby: ['3.1']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: false
    - run: |
        bundle install
        bundle exec rspec spec/functional/resource/chocolatey_package_spec.rb
  userdefaults:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-11, macos-12]
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby: ['3.1']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: false
    - run: bundle install
    - run: sudo bundle exec rspec spec/functional/resource/macos_userdefaults_spec.rb
