---
name: func_spec

"on":
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: func-spec-${{ github.ref }}
  cancel-in-progress: true

jobs:
  choco:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2025, windows-2022]
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby: ['3.4.2']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: false
    - run: |
        gem uninstall date --all --ignore-dependencies || true
        gem install date --version 3.3.3 --platform=ruby
        bundle install
        bundle exec rspec spec/functional/resource/chocolatey_package_spec.rb
  userdefaults:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, macos-15, macos-26]
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby: ['3.4']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: false
    - run: bundle install
    - run: sudo bundle exec rspec spec/functional/resource/macos_userdefaults_spec.rb
