---
name: kitchen

"on":
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: kitchen-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: kitchen-tests

jobs:
  # Test-kitchen-enterprise currently supports only linux platforms, 
  # Hence we are testing on Windows using test-kitchen
  win_x86_64:
    name: win_x86_64(test-kitchen legacy)
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2019
          - windows-2022
    runs-on: ${{ matrix.os }}
    env:
      CHEF_LICENSE: accept-no-persist
      KITCHEN_LOCAL_YAML: kitchen-legacy.exec.windows.yml
    steps:
    - uses: actions/checkout@v4
    - name: Install Chef
      uses: actionshub/chef-install@3.0.0
    - name: Kitchen Test
      run: kitchen test end-to-end-${{ matrix.os }}

  # Habitat does not support Mac yet. Hence we're testing on Mac systems using test-kitchen
  mac_x86_64:
    name: mac_x86_64(test-kitchen legacy)
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
    runs-on: ${{ matrix.os }}
    env:
      CHEF_LICENSE: accept-no-persist
      KITCHEN_LOCAL_YAML: kitchen-legacy.exec.macos.yml
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
            clean: true
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
      - name: Kitchen Test
        run: kitchen test end-to-end-${{ matrix.os }}

  mac_arm64:
    name: mac_arm64(test-kitchen legacy)
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-14 # currently macos-latest
          - macos-15
    runs-on: ${{ matrix.os }}
    env:
      CHEF_LICENSE: accept-no-persist
      KITCHEN_LOCAL_YAML: kitchen-legacy.exec.macos.yml
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          clean: true
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
      - name: Kitchen Test
        run: kitchen test end-to-end-${{ matrix.os }}

  # This block does end-to-end recipe using test-kitchen-enterprise using Habitat package of chef19
  docr_lnx_x86_64:
    name: docr_lnx_x86_64(test-kitchen-enterprise)
    strategy:
      fail-fast: false
      matrix:
        os:
          - amazonlinux-2023
          - almalinux-8
          - almalinux-9
          - debian-11
          - debian-12
          - fedora-latest
          - opensuse-leap-15
          - oraclelinux-8
          - oraclelinux-9
          - rockylinux-8
          - rockylinux-9
          - ubuntu-2004
          - ubuntu-2204
          # - ubuntu-2404
    runs-on: ubuntu-latest
    env:
      FORCE_FFI_YAJL: ext
      CHEF_LICENSE: accept-no-persist
      KITCHEN_LOCAL_YAML: kitchen.dokken.yml
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install chef-test-kitchen-enterprise
        run: |
          curl https://raw.githubusercontent.com/habitat-sh/habitat/main/components/hab/install.sh | sudo bash -s -- -c stable
          sudo hab license accept
          sudo hab --version
          sudo hab pkg install --binlink --force chef/chef-test-kitchen-enterprise --channel unstable
          sudo kitchen --version
      - name: Kitchen Test
        run: kitchen test end-to-end-${{ matrix.os }}

  # chef-test-kitchen-enterprise RC1 currently supports only kitchen-dokken driver hence in this block we 
  # will continue testing with test-kitchen
  vm_lnx_x86_64:
    name: vm_lnx_x86_64(test-kitchen legacy)
    strategy:
      fail-fast: false
      matrix:
        os:
          - amazonlinux-2
          - amazonlinux-2023
          - almalinux-8
          - almalinux-9
          - debian-11
          - debian-12
          - fedora-latest
          - opensuse-leap-15
          - oracle-7
          - oracle-8
          - oracle-9
          - rockylinux-8
          - rockylinux-9
          - ubuntu-1804
          - ubuntu-2004
          - ubuntu-2204
          # - ubuntu-2404
    runs-on: ubuntu-latest
    env:
      CHEF_LICENSE: accept-no-persist
      KITCHEN_LOCAL_YAML: kitchen-legacy.linux.ci.yml
    steps:
      - uses: actions/checkout@v4
      - name: Install Vagrant and VirtualBox
        run: |
          wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor | sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg
          wget -O- https://www.virtualbox.org/download/oracle_vbox_2016.asc | gpg --dearmor | sudo tee /usr/share/keyrings/oracle-virtualbox-2016.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          echo "deb [arch=amd64 signed-by=/usr/share/keyrings/oracle-virtualbox-2016.gpg] https://download.virtualbox.org/virtualbox/debian $(lsb_release -cs) contrib" | sudo tee /etc/apt/sources.list.d/virtualbox.list
          sudo apt-get update
          sudo apt-get install -y vagrant virtualbox-7.0
          sudo vagrant --version
          sudo VBoxManage --version
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
      - name: Kitchen Test
        run: export LOGNAME=$USER && kitchen test end-to-end-${{ matrix.os }}