---
name: kitchen

"on":
  pull_request:
  push:
    branches:
      - main

defaults:
  run:
    working-directory: kitchen-tests

jobs:
  win_x86_64:
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2019
          - windows-2022
    runs-on: ${{ matrix.os }}
    env:
      CHEF_LICENSE: accept-no-persist
      KITCHEN_LOCAL_YAML: kitchen.exec.windows.yml
    steps:
    - uses: actions/checkout@v4
    - name: Install Chef
      uses: actionshub/chef-install@3.0.0
    - name: Kitchen Test
      run: kitchen test end-to-end-${{ matrix.os }}

  mac_x86_64:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - macos-13
    runs-on: ${{ matrix.os }}
    env:
      CHEF_LICENSE: accept-no-persist
      KITCHEN_LOCAL_YAML: kitchen.exec.macos.yml
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
            clean: true
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
      - name: Kitchen Test
        run: kitchen test end-to-end-${{ matrix.os }}

  mac_arm64:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-14
    runs-on: ${{ matrix.os }}
    env:
      CHEF_LICENSE: accept-no-persist
      KITCHEN_LOCAL_YAML: kitchen.exec.macos.yml
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          clean: true
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
      - name: Kitchen Test
        run: kitchen test end-to-end-${{ matrix.os }}

  docr_lnx_x86_64:
    strategy:
      fail-fast: false
      matrix:
        os:
          - amazonlinux-2023
          - almalinux-8
          - almalinux-9
          - centos-7
          - debian-11
          - debian-12
          - fedora-latest
          - opensuse-leap-15
          - oraclelinux-8
          - oraclelinux-9
          # - rockylinux-8 # Need to troubleshoot issue with container startup
          - rockylinux-9
          - ubuntu-1804
          - ubuntu-2004
          - ubuntu-2204
    runs-on: ubuntu-latest
    env:
      FORCE_FFI_YAJL: ext
      CHEF_LICENSE: accept-no-persist
      KITCHEN_LOCAL_YAML: kitchen.dokken.yml
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
      - name: Kitchen Test
        run: kitchen test end-to-end-${{ matrix.os }}

  # Amazon Linux 2 has an issue with systemctl (throws a timedatectl error)
  # if dokken container hosted on Ubuntu 22.04 or later. Lock to Ubuntu 20.04
  # for now.
  docr_ubnt-2004_x86_64:
    strategy:
      fail-fast: false
      matrix:
        os:
          - amazonlinux-2
          - oraclelinux-7
    runs-on: ubuntu-20.04
    env:
      FORCE_FFI_YAJL: ext
      CHEF_LICENSE: accept-no-persist
      KITCHEN_LOCAL_YAML: kitchen.dokken.yml
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
      - name: Kitchen Test
        run: kitchen test end-to-end-${{ matrix.os }}

  vm_lnx_x86_64:
    strategy:
      fail-fast: false
      matrix:
        os:
          - amazonlinux-2
          - amazonlinux-2023
          - almalinux-8
          - almalinux-9
          # - centos-7 Need to troubleshoot slow and hanging behaviour on lifecycle hook run
          - debian-11
          - debian-12
          - fedora-latest
          # - freebsd-13 # Need to troubleshoot shell invalid issue
          # - freebsd-14 # Need to troubleshoot bad bento box issue
          - opensuse-leap-15
          - oracle-7
          - oracle-8
          - oracle-9
          - rockylinux-8
          - rockylinux-9
          - ubuntu-1804
          - ubuntu-2004
          - ubuntu-2204
    runs-on: ubuntu-latest
    env:
      CHEF_LICENSE: accept-no-persist
      KITCHEN_LOCAL_YAML: kitchen.linux.ci.yml
    steps:
      - uses: actions/checkout@v4
      - name: Install Vagrant and VirtualBox
        run: |
          wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor | sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg
          wget -O- https://www.virtualbox.org/download/oracle_vbox_2016.asc | gpg --dearmor | sudo tee /usr/share/keyrings/oracle-virtualbox-2016.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          echo "deb [arch=amd64 signed-by=/usr/share/keyrings/oracle-virtualbox-2016.gpg] https://download.virtualbox.org/virtualbox/debian $(lsb_release -cs) contrib" | sudo tee /etc/apt/sources.list.d/virtualbox.list
          sudo apt-get update
          sudo apt-get install -y vagrant virtualbox
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
      - name: Kitchen Test
        run: kitchen test end-to-end-${{ matrix.os }}
