---
name: kitchen

"on":
  pull_request:
  push:
    branches:
      - chef-17

jobs:
  windows:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, windows-2019]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: 'Upgrade Ruby Devkit on Windows'
      id: upgrade_ruby
      run: |
        $pkg_version="3.0.6"
        $pkg_revision="1"
        $pkg_source="https://github.com/oneclick/rubyinstaller2/releases/download/RubyInstaller-${pkg_version}-${pkg_revision}/rubyinstaller-devkit-${pkg_version}-${pkg_revision}-x64.exe"

        $old_version = Ruby --version
        if(-not($old_version -match "3.0")){
          $ErrorActionPreference = 'Stop';
          Write-Output 'Downloading Ruby + DevKit';
          [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12;
          $package_destination = "$env:temp\rubyinstaller-devkit-$pkg_version-$pkg_revision-x64.exe"
          (New-Object System.Net.WebClient).DownloadFile($pkg_source, $package_destination);
          Write-Output "Did the file download?"
          $output = Get-ChildItem -Path $env:temp
          Write-Output $output
          Write-Output 'Installing Ruby + DevKit';
          Start-Process $package_destination -ArgumentList '/verysilent /dir=C:\ruby306' -Wait ;
          Write-Output 'Cleaning up installation';
          Remove-Item $package_destination -Force;
          Write-Output "Installing URU to manage Ruby Versions"
          choco install 7zip -y
          Write-Output "Downloading Uru Installer..."
          New-Item -Path c:\uru_temp -Type Directory
          # Use TLS 1.2 for Windows 2016 Server and older
          [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
          Invoke-WebRequest -OutFile "c:\uru_temp\uru-0.8.5-windows-x86.7z" -Uri "https://bitbucket.org/jonforums/uru/downloads/uru-0.8.5-windows-x86.7z"
          Write-Output "Installing Uru Ruby Switcher"
          7z x "c:\uru_temp\uru-0.8.5-windows-x86.7z" -o"C:\Program Files (x86)\Uru"
          If ($lastexitcode -ne 0) { Exit $lastexitcode }
          Start-Process "C:\Program Files (x86)\Uru\uru_rt.exe" -WorkingDirectory "C:\Program Files (x86)\Uru\" -ArgumentList 'admin install' -Wait

          Write-Output 'Updating PATH'
          $env:PATH = "C:\Program Files (x86)\Uru;" + $env:PATH
          [Environment]::SetEnvironmentVariable('PATH', $env:PATH, [EnvironmentVariableTarget]::Machine)

          Write-Output "Register Installed Ruby Version 3.0.6 With Uru"
          Start-Process "uru_rt.exe" -ArgumentList 'admin add C:\ruby306\bin' -Wait
          uru 306
          if (-not $?) { throw "Can't Activate Ruby. Did Uru Registration Succeed?" }
          ruby -v
          if (-not $?) { throw "Can't run Ruby. Is it installed?" }
        }
    - name: 'Install Chef/Ohai from Omnitruck'
      id: install_chef
      run: |
        . { Invoke-WebRequest -useb https://omnitruck.chef.io/install.ps1 } | Invoke-Expression; Install-Project -project chef -channel stable -v 17
        $env:PATH = "C:\opscode\chef\bin;C:\opscode\chef\embedded\bin;" + $env:PATH
        chef-client -v
        ohai -v
        rake --version
        bundle -v
    - name: 'Upgrade Chef/Ohai via Appbundler'
      id: upgrade
      run: |
        $env:PATH = "C:\opscode\chef\bin;C:\opscode\chef\embedded\bin;" + $env:PATH
        $env:OHAI_VERSION = ( Select-String -Path .\Gemfile.lock -Pattern '(?<=ohai \()\d.*(?=\))' | ForEach-Object { $_.Matches[0].Value } )

        # The chef-client installer does not put the file 'ansidecl.h' down in the correct location
        # This leads to failures during testing. Moving that file to its correct position here.
        # Another example of 'bad' that needs to be corrected
        $output = gci -path C:\opscode\ -file ansidecl.h -Recurse
        $target_path = $($output.Directory.Parent.FullName + "\x86_64-w64-mingw32\include")
        Move-Item -Path $output.FullName -Destination $target_path

        gem install appbundler appbundle-updater --no-doc
        If ($lastexitcode -ne 0) { Exit $lastexitcode }
        appbundle-updater chef chef $env:GITHUB_SHA --tarball --github $env:GITHUB_REPOSITORY
        If ($lastexitcode -ne 0) { Exit $lastexitcode }
        Write-Output "Installed Chef / Ohai release:"
        chef-client -v
        If ($lastexitcode -ne 0) { Exit $lastexitcode }
        ohai -v
        If ($lastexitcode -ne 0) { Exit $lastexitcode }
    - name: 'Run end_to_end::default recipe'
      id: run
      run: |
        cd kitchen-tests
        $env:PATH = "C:\opscode\chef\bin;C:\opscode\chef\embedded\bin;" + $env:PATH
        # htmldiff and ldiff on windows cause a conflict with gems being loaded below.
        # we remove thenm here.
        if (Test-Path C:\opscode\chef\embedded\bin\htmldiff)
        {
            Remove-Item -Path C:\opscode\chef\embedded\bin\htmldiff
            Remove-Item -Path C:\opscode\chef\embedded\bin\ldiff
        }

        # if a different version of ffi-yajl is installed, then libyajl2 needs to be reinstalled
        # so that libyajldll.a is present in the intermediate build step. bundler seems to skip
        # libyajl2 build if already present. gem install seems to build anyway.
        gem uninstall -I libyajl2

        bundle install --jobs=3 --retry=3
        # If ($lastexitcode -ne 0) { Exit $lastexitcode }
        # The bundle install command above fails because our build on windows on ruby-3.0 is
        # completely broken when it comes to installing native gems.  Until that is fixed we
        # need to ignore that error code and to manually install berkshelf below.  This is a
        # very bad hack.

        If ($lastexitcode -ne 0) { Exit $lastexitcode }
        gem install berkshelf --no-doc
        If ($lastexitcode -ne 0) { Exit $lastexitcode }
        berks vendor cookbooks
        If ($lastexitcode -ne 0) { Exit $lastexitcode }
        chef-client -z -o end_to_end --chef-license accept-no-persist

  macos:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-12]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: 'Install Chef/Ohai from Omnitruck'
      id: install_chef
      run: |
        brew install coreutils
        curl -L https://omnitruck.chef.io/install.sh | sudo bash -s -- -c stable -v 17
        /opt/chef/bin/chef-client -v
        /opt/chef/bin/ohai -v
        /opt/chef/embedded/bin/rake --version
        /opt/chef/embedded/bin/bundle -v
    - name: 'Upgrade Chef/Ohai via Appbundler'
      id: upgrade
      run: |
        OHAI_VERSION=$(sed -n '/ohai .[0-9]/{s/.*(//;s/)//;p;}' Gemfile.lock)
        sudo /opt/chef/embedded/bin/gem install appbundler appbundle-updater --no-doc
        sudo /opt/chef/embedded/bin/appbundle-updater chef chef $GITHUB_SHA --tarball --github $GITHUB_REPOSITORY
        echo "Installed Chef / Ohai release:"
        /opt/chef/bin/chef-client -v
        /opt/chef/bin/ohai -v
    - name: 'Run end_to_end::default recipe'
      id: run
      run: |
        cd kitchen-tests
        sudo /opt/chef/embedded/bin/bundle config set --local without 'omnibus_package'
        sudo /opt/chef/embedded/bin/bundle config set --local path 'vendor/bundle'
        sudo /opt/chef/embedded/bin/bundle install --jobs=3 --retry=3
        sudo rm -f /opt/chef/embedded/bin/{htmldiff,ldiff}
        sudo /opt/chef/embedded/bin/gem install berkshelf --no-doc
        sudo /opt/chef/embedded/bin/berks vendor cookbooks
        sudo /opt/chef/bin/chef-client -z -o end_to_end --chef-license accept-no-persist

  linux:
    strategy:
      fail-fast: false
      matrix:
        os:
          - 'centos-6'
          - 'centos-7'
          - 'centos-8'
          - 'debian-10'
          - 'debian-11'
          - 'fedora-latest'
          - 'opensuse-leap-15'
          - 'oraclelinux-8'
          - 'ubuntu-1804'
          - 'ubuntu-2004'
          - 'ubuntu-2204'
    runs-on: ubuntu-latest
    env:
      FORCE_FFI_YAJL: ext
      CHEF_LICENSE: accept-no-persist
    steps:
      - name: Check out code
        uses: actions/checkout@main
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
          bundler-cache: true
          working-directory: kitchen-tests
      - name: Run Test Kitchen
        working-directory: kitchen-tests
        run:  |
          bundle exec kitchen test end-to-end-${{ matrix.os }}

  # Amazon Linux 2 and Oracle Linux 7 dokken images have systemctl issues
  # on Ubuntu 22.04 host platforms and later. Pin these to Ubuntu 20.04
  linux-2004-host:
    strategy:
      fail-fast: false
      matrix:
        os:
          - 'amazonlinux-2'
          - 'oraclelinux-7'
    runs-on: ubuntu-20.04
    env:
      FORCE_FFI_YAJL: ext
      CHEF_LICENSE: accept-no-persist
    steps:
      - name: Check out code
        uses: actions/checkout@main
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
          bundler-cache: true
          working-directory: kitchen-tests
      - name: Run Test Kitchen
        working-directory: kitchen-tests
        run:  |
          bundle exec kitchen test end-to-end-${{ matrix.os }}
