name: "Pull Request Labeler"
on:
  pull_request_target:
    branches:
      - main
concurrency:
  group: labeler-${{ github.ref }}
  cancel-in-progress: true

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v4.3.0
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
