---
name: windows-fips

"on":
  pull_request_target:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: windows-fips-${{ github.ref }}
  cancel-in-progress: true

jobs:
  habitat-build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, windows-2025]
    uses: ./.github/workflows/habitat-build.yml
    permissions:
      contents: read
    with:
      os: windows
      runner: ${{ matrix.os }}
    secrets:
      HAB_AUTH_TOKEN: ${{ secrets.HAB_AUTH_TOKEN }}

  windows:
    needs: habitat-build
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, windows-2025]
    runs-on: ${{ matrix.os }}
    env:
      HAB_ORIGIN: gha
      HAB_BLDR_CHANNEL: base-2025
      HAB_REFRESH_CHANNEL: base-2025
      HAB_AUTH_TOKEN: ${{ secrets.HAB_AUTH_TOKEN }}
    steps:
      - name: Download Habitat Package
        uses: actions/download-artifact@v4
        with:
          name: habitat-package-windows-${{ github.run_id }}

      - name: 'Install Chef Infra Client Package'
        run: |
          # Install the package
          hab pkg install chef-infra-client-latest.hart

          # Print the version of the installed package
          hab pkg exec $env:HAB_ORIGIN/chef-infra-client chef-client --version

      - name: 'Enable FIPS via Windows registry'
        run: |
          $KeyPath = "HKLM:\SYSTEM\CurrentControlSet\Control\Lsa\FipsAlgorithmPolicy"
          $ValueName = "Enabled"
          $ValueData = 1  # Use integer instead of string

          # Create the key if it doesn't exist
          if (!(Test-Path $KeyPath)) {
            New-Item -Path $KeyPath -Force | Out-Null
          }

          # Set the Enabled value to 1
          Set-ItemProperty -Path $KeyPath -Name $ValueName -Value $ValueData -Type DWord -Force

          # Verify FIPS is enabled
          $fipsEnabled = (Get-ItemProperty -Path $KeyPath).Enabled
          Write-Host "FIPS Mode Enabled: $fipsEnabled"

          # Extra verification
          if ($fipsEnabled -ne 1) {
            Write-Error "Failed to enable FIPS mode in Windows registry"
            Exit 1
          }

      - name: 'Run chef-client with FIPS'
        run: |
          # Verify FIPS mode is active
          hab pkg exec $env:HAB_ORIGIN/chef-infra-client chef-client --version

          #*** Uncomment the below lines to check for FIPS mode in chef-client logs once OpenSSL has FIPS mode enabled
          # $output = hab pkg exec $env:HAB_ORIGIN/chef-infra-client chef-client -l debug --no-color 2>&1 | Select-String "FIPS"
          # if ($output -match "OpenSSL FIPS 140 mode enabled") {
          #   Write-Host "✅ Chef Infra Client is running in FIPS mode"
          # } else {
          #   Write-Host "❌ FIPS mode not detected"
          #   Exit 1
          # }
