<div id="block-tables" class="block">
  <div class="content">
    <h2 class="title">Environment <%= params[:id] %></h2>
    <div class="inner">
      <%= render "environments/navigation", :environment => @environment, :active => 'edit' %>
    </div>
    <%= render 'environments/form',  :environment => @environment,
                                      :route => :environments,
                                      :method => :put,
                                      :form_url => environment_path(@environment.name),
                                      :form_id => 'edit_environment',
                                      :form_for => 'edit',
                                      :submit_name => "Update Environment",
                                      :submit_id => "edit_environment_button",
                                      :new_object => true %>
  </div>
</div>